<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Email Subscriber</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container-lg p-5">
      <h3>Email Subscription <span class="badge badge-pill badge-primary">Simple Project With <span><img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Celery_logo.png" width="20px" alt="Celery"></span> + <span><img src="https://jpadilla.github.io/rabbitmqapp/assets/img/icon.png" width="20px" alt="RabbitMQ"></span></span> <span class="badge badge-pill badge-success">Server is up &#128526;</span></h3>
      <hr>

      <p class="text-muted">This project has been created to test the power of Celery and RabbitMQ when they start working together.<br><br>
      How it Works?<br>Imagine your are the admin of this page, so you can add emails, manage them and send them any message you want.<br>Before using this console, become sure you've already configured <code>settings.py</code> truly.<br>
      Email Subscriber uses Bootstrap4 for its main panel. Once you turned on your network data, all CDNs will be cached up.<br><br> Now, you've got a prettier UI, which is awesome.</p><br>

      <div class="container-fluid p-4">
        <h5>Add Subscriber</h5><br>
        {% load crispy_forms_tags %}
        <form method="post" class="uniForm">
          {% csrf_token %}
          <div class="form-group">
            {{form|crispy}}
            <small id="emailHelp" class="form-text text-muted">Add an email address to DB.</small>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
              {{message}}
            </div>
            {% endfor %}
        {% endif %}
        <button class="btn btn-primary" type="submit" name="button">Add Subscriber</button>
        <button class="btn" type="reset" name="clear_button">Clear</button>
        </form>
      </div>

      <div class="container-fluid p-4">
        <h5>Subscribers Table</h5><br>
        <table class="table">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Address</th>
              <th scope="col">Last Edited</th>
              <th scope="col">Created Date</th>
            </tr>
          </thead>
          <tbody>
            {% for subscriber in subscribers %}
            <tr>
              <th scope="row">{{subscriber.id}}</th>
              <td>{{subscriber.email}}</td>
              {% if subscriber.last_edited %}
              <td>{{ subscriber.last_edited | timesince }} ago</td>
              {% else %}
              <td>--</td>
              {% endif %}
              <td>{{subscriber.created_date}}</td>
            </tr>
            {% endfor %}
            <tr>
              <th scope="row" class="bg-primary text-white">DB info</th>
              <td>--</td>
              <td>--</td>
              <td>Count of Subscribers: {{subscribers.count}}</td>
            </tr>
          </tbody>
      </table>
      </div>

      <div class="container-fluid p-4">
        <div class="card border-danger mb-3">
          <div class="card-header">Danger Zone</div>
          <div class="card-body text-danger">
            <h5 class="card-title">Send to All</h5>
            <p class="card-text">With the help of this option, you are going to be able to send message to every single subscriber.<br> Mostly, this part uses for advertisement purposes.</p>
            <button class="btn btn-danger" type="submit" name="button">Sent to All</button><hr>
            <h5 class="card-title">Flush Subscribers</h5>
            <p class="card-text">Remove all exist subscribers from DB.</p>
            <button class="btn btn-danger" type="submit" name="button">Remove All</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-muted">Thanks to <b>Django</b>, <b>BootStrap4</b>, <b>Celery</b>, <b>Redis</b>, <b>RabbitMQ</b> and <b>Github</b></p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <a class="text-muted" href="https://github.com/lnxpy/EmailSubscriber" target="_blank"><h5><span class="badge badge-pill badge-primary">&#127775; EmailSubscriber on Github</span></h5></a>
        </div>
      </div>


    </div>
  </body>
</html>
